<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WATCH.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WATCH.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WATCH.Properties.Settings>
            <setting name="Location" serializeAs="String">
                <value>50, 50</value>
            </setting>
            <setting name="View" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsHour" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsMinute" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsSecond" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoRun" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsUnder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Opacity" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Frequency" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Time" serializeAs="String">
                <value>00:00:00</value>
            </setting>
        </WATCH.Properties.Settings>
        <WATCH.Settings1>
            <setting name="Location" serializeAs="String">
                <value>50, 50</value>
            </setting>
        </WATCH.Settings1>
    </userSettings>
</configuration>